{include file="hospital/css" /}
<body>
<div class="container-scroller">
    {include file="hospital/navheader" /}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {include file="hospital/navleft" /}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">权限设置</h4>
                                <div class="col-lg-4 grid-margin stretch-card">
                                    <input id="search_reports" style="margin-left: -12.5px" type="number"
                                           class="form-control" placeholder="请输入手机号搜索" oninput="mySearch()">
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>手机号</th>
                                            <th>时期</th>
                                            <th>次数</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {foreach $list as $vo}
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>{$vo.phone}</td>
                                            <td>{$vo.stage}</td>
                                            <td>{$vo.times}</td>
                                            <td>
                                                <button type="button" class="edit btn btn-rounded btn-sm"
                                                        onclick="showModal('{$vo.id}')">孕期设置
                                                </button>
                                                <button type="button" class="add btn btn-success btn-rounded btn-sm">
                                                    加次
                                                </button>
                                                <button type="button" class="delete btn btn-danger btn-rounded btn-sm">
                                                    删除
                                                </button>
                                            </td>
                                        </tr>
                                        {/foreach}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">孕期设置</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="forms-sample">
                                <div class="form-group">
                                    <select class="form-control" id="editStage"></select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="change()">设置</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {include file="hospital/footer" /}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{include file="hospital/model" /}
<!-- plugins:js -->
<script>
    var phoneId = 0;
    function showModal(id) {
        phoneId = id;
        $.ajax({
            url: "{:url('index/phones/getStage')}",
            type: 'GET',
            data: {
                id: id
            },
            success: function (response) {
                $("#editStage ").val(response.message);
            }
        });
        $('#editModal').modal('show');
    }

    $(document).ready(function () {
        $.ajax({
            url: "{:url('index/phones/stage')}",
            success: function (data) {
                let option = '';
                data.data.forEach((value) => {
                    option += `<option value="${value}">${value}</option>`
                });
                $('#editStage').append(option)
            }
        })
    });

    $(document).ready(function () {
        $("body").on('click', '.delete', function () {
            var id = +$(this).parent().parent().children()[0].innerHTML;
            $.ajax({
                url: "{:url('index/phones/deletePhone')}",
                data: {
                    id: id
                },
                type: 'POST',
                success: function (data) {
                    window.location.reload();
                }
            })
        });
    });
    $(document).ready(function () {
        $("body").on('click', '.add', function () {
            var id = +$(this).parent().parent().children()[0].innerHTML;
            $.ajax({
                url: "{:url('index/phones/addTimes')}",
                data: {
                    id: id
                },
                type: 'POST',
                success: function (data) {
                    window.location.reload();
                }
            })
        });
    });

    function change() {
        $('#editModal').modal('hide');
        var stage = $("#editStage").val();
        $.ajax({
            url: "{:url('index/phones/editPhones')}",
            data: {
                id: phoneId,
                stage: stage
            },
            type: 'POST',
            success: function (data) {
                window.location.reload();
            },
        })
    }

    var page = 2;
    $(document).ready(function () {
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if (scrollHeight - scrollTop - windowHeight < 0.5) {
                $.ajax({
                    url: "{:url('index/phones/getList')}",
                    data: {
                        page: page
                    },
                    type: 'POST',
                    success: function (data) {
                        if (data.ret === 0) {
                            return
                        }
                        var string = String
                        data.data.list.forEach(val => {
                            string += '<tr><td>' + val.id + '</td><td>' + val.phone + '</td><td>' + val.stage + '</td><td>' + val.times + '</td><td><button type="button" class="edit btn btn-rounded btn-sm" onclick="showModal(' + val.id + ')">孕期设置</button><button type="button" class="add btn btn-success btn-rounded btn-sm">加次</button><button type="button" class="delete btn btn-danger btn-rounded btn-sm">删除</button></td></tr>'
                        });
                        $("tbody").append(string)
                        page = page + 1
                    },
                });
            }
        });
    });
</script>
<script>
    function mySearch() {
        if ($("#search_reports").val().length === 11) {
            var phone = $("#search_reports").val()
            window.location.href = '/index.php/index/phones/search?phone=' + phone;
        }
    }
</script>
<script src="/static/vendors/js/vendor.bundle.base.js"></script>
<script src="/static/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>