<!DOCTYPE html>
<html lang="zh">
{include file="common/css" /}
<head>
    <style>
        p {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper" style="min-height: 344px;">
        <div>
            <div>
                <div style="text-align: center">
                    <h1 style="font-size: 34px">{$hospital}</h1>
                    <h2 style="font-size: 30px">孕产妇心理健康筛查评估报告</h2>
                </div>
            </div>
            <hr>
            <p>当前有未完成的报告，请完成后查看报告</p>
        </div>
        <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
        <script type="text/javascript" src="/static/vendor/jquery/jquery.js"></script>
    </div>
</div>
</div>
{include file="common/javascript" /}
</body>

</html>