{include file="seu/css" /}
<body>
<div class="container-scroller">
    {include file="seu/navheader" /}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {include file="seu/navleft" /}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    文章列表
                                    <a data-toggle="modal" data-target="#AddModal" onclick="showAddModal()">添加文章</a>
                                </h4>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>标题</th>
                                            <th>图片</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {foreach $list as $vo}
                                        <tr>
                                            <td>{$vo.id}</td>
                                            <td>{$vo.title}</td>
                                            <td><img style="border-radius:0;height: 50px;width: 80px" src="{$vo.image}"></td>
                                            <td>{$vo.create_time}</td>
                                            <td>
                                                <button type="button" class="edit btn btn-rounded btn-sm"
                                                        onclick="showEditModal('{$vo.id}')">编辑
                                                </button>
                                                <button type="button" class="delete btn btn-danger btn-rounded btn-sm">
                                                    删除
                                                </button>
                                            </td>
                                        </tr>
                                        {/foreach}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">编辑</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="forms-sample">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>标题：</label>
                                        <input class="form-control" id="editTitle"/>
                                    </div>
                                    <div class="form-group">
                                        <label>图片：</label>
                                        <input class="form-control" id="editImage"/>
                                    </div>
                                    <div class="form-group">
                                        <label>正文：</label>
                                        <textarea class="form-control" id="editArticle" rows="8">
                                        </textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="change()">提交</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">添加</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="forms-sample">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>标题：</label>
                                        <input class="form-control" id="addTitle"/>
                                    </div>
                                    <div class="form-group">
                                        <label>图片：</label>
                                        <input class="form-control" id="addImage"/>
                                    </div>
                                    <div class="form-group">
                                        <label>正文：</label>
                                        <textarea class="form-control" id="addArticle" rows="8">
                                        </textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="submit()">提交</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {include file="seu/footer" /}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/static/vendors/js/vendor.bundle.base.js"></script>
<script src="/static/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/js/dashboard.js"></script>
<!-- End custom js for this page-->
<script>
    var contentId = 0;

    function showEditModal(id) {
        contentId = id;
        $.ajax({
            url: "{:url('index/content/getContent')}",
            type: 'GET',
            data: {
                id: id
            },
            success: function (response) {
                $("#editTitle ").val(response.message.title);
                $("#editImage ").val(response.message.image);
                $("#editArticle ").val(response.message.article);
            }
        });
        $('#editModal').modal('show');
    }

    function showAddModal() {
        $('#addModal').modal('show');
    }

    $(document).ready(function () {
        $("body").on('click', '.delete', function () {
            var id = +$(this).parent().parent().children()[0].innerHTML;
            $.ajax({
                url: "{:url('index/content/deleteContent')}",
                data: {
                    id: id
                },
                type: 'POST',
                success: function (data) {
                    window.location.reload();
                }
            })
        });
    });

    function submit() {
        $('#addModal').modal('hide');
        var title = $("#addTitle").val();
        var image = $("#addImage").val();
        var article = $("#addArticle").val();
        $.ajax({
            url: "{:url('index/content/insertContent')}",
            data: {
                title: title,
                image: image,
                article: article,
            },
            type: 'POST',
            success: function (data) {
                console.log(data)
                window.location.reload();
            }
        })
    }

    function change() {
        $('#editModal').modal('hide');
        var title = $("#editTitle").val();
        var image = $("#editImage").val();
        var article = $("#editArticle").val();
        $.ajax({
            url: "{:url('index/content/editContent')}",
            data: {
                id: contentId,
                title: title,
                image: image,
                article: article
            },
            type: 'POST',
            success: function (data) {
                window.location.reload();
            },
        })
    }

    var page = 2;
    $(document).ready(function () {
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if (scrollHeight - scrollTop - windowHeight < 0.5) {
                $.ajax({
                    url: "{:url('index/content/getList')}",
                    data: {
                        page: page
                    },
                    type: 'POST',
                    success: function (data) {
                        if (data.ret === 0) {
                            return
                        }
                        var string = String
                        data.data.list.forEach(val => {
                            string += '<tr><td>' + val.id + '</td><td>' + val.title + '</td><td>' + val.create_time + '</td><td><button type="button" class="edit btn btn-rounded btn-sm" onclick="showModal(' + val.id + ')">编辑</button><button type="button" class="delete btn btn-danger btn-rounded btn-sm">删除</button></td></tr>'
                        });
                        $("tbody").append(string)
                        page = page + 1
                    },
                });
            }
        });
    });
</script>
</body>

</html>