<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
{include file="common/css" /}
<head>
    <style>
        .information {
            border-bottom: 1px solid black;
        }

        .info {
            background-color: rgb(217, 217, 217);
        }

        p {
            margin-bottom: 0;
        }

        .noprint {
            margin-top: 50px;
            margin-left: 50px;
        }

        .common-containerGauge {
            height: 250px !important;
            width: 250px !important;
            display: inline-block !important;
        }

        .common-containerLine {
            height: 250px !important;
            display: inline-block !important;
        }

        .scl-containerGauge {
            height: 250px !important;
            width: 250px !important;
            display: inline-block !important;
        }

        .scl-containerLine {
            height: 250px !important;
            display: inline-block !important;
        }

        .containerRadar {
            height: 500px !important;
            width: 500px !important;
            display: inline-block !important;
        }

        @media print {
            .containerWrapper {
                display: block !important;
            }

            .noprint {
                display: none;
            }
        }
    </style>
</head>
<body onload="startTime()">
<div id="wrapper">
    <button onclick="window.print()" class="noprint btn btn-success btn-rounded btn-pw" style="position: absolute;">
        打印报告
    </button>
    <div id="page-wrapper" style="min-height: 344px;">
        <div class="details-container">
            <div>
                <div style="text-align: center">
                    <h1 style="font-size: 34px">{$hospital}</h1>
                    <h2 style="font-size: 30px">孕产妇心理健康筛查评估报告</h2>
                </div>
            </div>
            <br>
            <div class="information"></div>
            <div class="information">
                <div style="font-size: 22px;justify-content:space-between;display: flex;">
                    <div>
                        姓名：
                        <div style="display: inline-block;">
                            {$user_name}
                        </div>
                        <span class="userId" style="display: none">{$user_id}</span>
                    </div>
                    <div>
                        时期：
                        <div style="display: inline-block;">
                            {$stage}
                        </div>
                    </div>
                    <div>
                        科室：
                        <div style="display: inline-block;">
                            妇产科
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="first-scale" style="page-break-after: always">
                <div>
                    <div class="info" style="font-size: 22px">
                        <span style="font-weight: bold">孕产妇基本情况：</span>
                        <div style="display: inline-block;">
                            填写完整
                        </div>
                    </div>
                    <div style="font-size: 18px">
                        <p>{$one.res6}</p>
                        <p>{$one.res16}</p>
                        <p>{$one.res8}</p>
                        <p>{$one.res12}</p>
                        <p>{$one.res32}</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div style="page-break-after: always">
            <div class="information" style="font-size: 22px;font-weight: bold">
                您的综合情况结果：
            </div>
            <div style="justify-content:space-around;display: flex;margin-top: -150px">
                <div id="containerRadarOne" class="containerRadar"
                     style="height: 500%;width: 40%;text-align: center;"></div>
                <?php if($scl==1){?><div id="containerRadarTwo" class="containerRadar"
                                         style="height: 500%;width: 40%;text-align: center;"></div><?php }?>
            </div>
            <div>
                <div class="conclusion" style="font-size: 18px"></div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div style="font-size: 15px;justify-content:space-between;display: flex;border-bottom: 1px solid black;">
                <div>
                    评估时间：
                    <div style="display: inline-block;">
                        {$create_time}
                    </div>
                </div>
                <div>
                    报告打印时间：
                    <div style="display: inline-block;" id="txt">
                    </div>
                </div>
                <div>
                    操作人：
                    <div style="display: inline-block;">
                        <?=$_SESSION['think']['doctorName']?>
                    </div>
                </div>
            </div>
            <div style="float: right;clear:both">
                咨询电话：
                <div style="display: inline-block;">
                    {$phone}
                </div>
            </div>
            <br>
            <div style="float: right;">
                地址：
                <div style="display: inline-block;">
                    {$address}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
        <script type="text/javascript" src="/static/vendor/jquery/jquery.js"></script>
        <script type="text/javascript">
            $(function ($) {
                $.ajax({
                    url: "{:url('index/reports/details')}",
                    dataType: "json",
                    type: "get",
                    data: {
                        id: $('.userId').text()
                    },
                    success: function (data) {
                        if (data.ret === 1) {
                            let commonScale = ''
                            let firstScale = ''
                            firstScale = `<div>
                                        <div class="info" style="font-size: 22px">
                                            <span style="font-weight: bold">${data.data[0].title}：</span>
                                            <span class="Nine">${data.data[0].score}</span>
                                            <span>（${data.data[0].type}）</span>
                                        </div>
                                        <div style="font-size: 18px">
                                            <span style="font-weight: bold">当前情况：</span>
                                            <span>${data.data[0].state}</span><br>
                                            <span style="font-weight: bold">专家建议：</span>
                                            <span>${data.data[0].advice}</span>
                                        </div>
                                        <div class="containerWrapper" style="display: flex;justify-content:space-around;">
                                            <div id="containerGaugeTenSeven" class="common-containerGauge"
                                                style="height: 250%;width: 40%;"></div>
                                            <div id="containerLineTenSeven" class="common-containerLine"
                                                style="height: 250%;width: 40%;"></div>
                                        </div>
                                    </div>`
                            var result = [];
                            for (var i = 1, len = data.data.length; i < len; i += 2) {
                                result.push(data.data.slice(i, i + 2));
                            }
                            result.forEach((value) => {
                                if (value.length === 2) {
                                    commonScale += `<div style="page-break-after: always">
                                        <div>
                                            <div class="info" style="font-size: 22px">
                                                <span style="font-weight: bold">${value[0].title}：</span>
                                                <span class="Nine">${value[0].score}</span>
                                                <span>（${value[0].type}）</span>
                                            </div>
                                            <div style="font-size: 18px">
                                                <span style="font-weight: bold">当前情况：</span>
                                                <span>${value[0].state}</span><br>
                                                <span style="font-weight: bold">专家建议：</span>
                                                <span>${value[0].advice}</span>
                                            </div>
                                            <div class="containerWrapper" style="display: flex;justify-content:space-around;">
                                                <div id="containerGaugeTenSeven" class="common-containerGauge"
                                                    style="height: 250%;width: 40%;"></div>
                                                <div id="containerLineTenSeven" class="common-containerLine"
                                                    style="height: 250%;width: 40%;"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="info" style="font-size: 22px">
                                                <span style="font-weight: bold">${value[1].title}：</span>
                                                <span class="Nine">${value[1].score}</span>
                                                <span>（${value[1].type}）</span>
                                            </div>
                                            <div style="font-size: 18px">
                                                <span style="font-weight: bold">当前情况：</span>
                                                <span>${value[1].state}</span><br>
                                                <span style="font-weight: bold">专家建议：</span>
                                                <span>${value[1].advice}</span>
                                            </div>
                                            <div class="containerWrapper" style="display: flex;justify-content:space-around;">
                                                <div id="containerGaugeTenEight" class="common-containerGauge"
                                                    style="height: 250%;width: 40%;"></div>
                                                <div id="containerLineTenEight" class="common-containerLine"
                                                    style="height: 250%;width: 40%;"></div>
                                            </div>
                                        </div>
                                    </div>`
                                } else {
                                    commonScale += `<div style="page-break-after: always">
                                        <div>
                                            <div class="info" style="font-size: 22px">
                                                <span style="font-weight: bold">${value[0].title}：</span>
                                                <span class="Nine">${value[0].score}</span>
                                                <span>（${value[0].type}）</span>
                                            </div>
                                            <div style="font-size: 18px">
                                                <span style="font-weight: bold">当前情况：</span>
                                                <span>${value[0].state}</span><br>
                                                <span style="font-weight: bold">专家建议：</span>
                                                <span>${value[0].advice}</span>
                                            </div>
                                            <div class="containerWrapper" style="display: flex;justify-content:space-around;">
                                                <div id="containerGaugeTenSeven" class="common-containerGauge"
                                                    style="height: 250%;width: 40%;"></div>
                                                <div id="containerLineTenSeven" class="common-containerLine"
                                                    style="height: 250%;width: 40%;"></div>
                                            </div>
                                        </div>
                                    </div>`
                                }
                            })
                            $('.first-scale').append(firstScale)
                            $('.details-container').append(commonScale)

                            // 普通量表折线图
                            $.each(document.getElementsByClassName('common-containerLine'), function (index, val) {
                                var myChartLineThree = echarts.init(val);
                                var option = {
                                    color: ['#00C5CD'],
                                    xAxis: {
                                        type: 'category',
                                        data: data.message
                                    },
                                    yAxis: [
                                        {
                                            type: 'value'
                                        },
                                        {
                                            type: 'value'
                                        }
                                    ], series: [
                                        {
                                            data: data.data[index].list,
                                            type: 'line',
                                            color: ['#333'],
                                            smooth: true
                                        }, {
                                            data: data.data[index].list,
                                            type: 'bar',
                                            color: ['#00C5CD'],
                                            smooth: true
                                        }
                                    ]
                                };
                                myChartLineThree.setOption(option);
                            })

                            // 普通量表圆形图
                            data.data.map(val => {
                                val.gauge = val.gauge.map((item, idx) => [item, val.color[idx]])
                            })
                            $.each(document.getElementsByClassName('common-containerGauge'), function (index, val) {
                                var myChartGauge = echarts.init(val);
                                var option = {
                                    tooltip: {
                                        formatter: "{a} <br/>{b} : {c}%"
                                    },
                                    toolbox: {},
                                    series: [
                                        {
                                            min: data.data[index].min,
                                            max: data.data[index].max,
                                            type: 'gauge',
                                            detail: {formatter: '{value}'},
                                            data: [{value: data.data[index].score}],
                                            axisLine: {
                                                show: true,
                                                lineStyle: {
                                                    color: data.data[index].gauge,
                                                    width: 15
                                                }
                                            },
                                            axisTick: {
                                                length: 16,
                                                lineStyle: {
                                                    color: 'auto'
                                                }
                                            },
                                            splitLine: {
                                                length: 17,
                                                lineStyle: {
                                                    color: 'auto'
                                                }
                                            },
                                        }
                                    ]
                                };
                                myChartGauge.setOption(option);
                            })

                            // scl-90量表存在
                            if (data.content.length !== 0) {
                                var sclResult = [];
                                let sclScale = '';
                                let sclTitle = ''
                                for (var i = 1, len = data.content.length; i < len; i += 2) {
                                    sclResult.push(data.content.slice(i, i + 2));
                                }
                                sclResult.forEach(val => {
                                    if (val.length === 2) {
                                        sclScale += `<div class="scl-scale" style="page-break-after: always">
                                            <div>
                                                <div style="font-size: 18px">
                                                    <span style="font-weight: bold">${val[0].title}得分：</span>
                                                    <span class="TenFive">${val[0].score}</span>
                                                    <span>（${val[0].type}）</span><br>
                                                    <span style="font-weight: bold">当前情况：</span>
                                                    <span>${val[0].state}</span><br>
                                                    <span style="font-weight: bold">专家建议：</span>
                                                    <span>${val[0].advice}</span>
                                                </div>
                                                <div class="containerWrapper" style="display: flex;justify-content:space-around;">
                                                    <div id="containerGaugeTenFive" class="scl-containerGauge"
                                                        style="height: 250%;width: 40%;"></div>
                                                    <div id="containerLineTenFive" class="scl-containerLine"
                                                        style="height: 250%;width: 40%;"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="font-size: 18px">
                                                    <span style="font-weight: bold">${val[1].title}得分：</span>
                                                    <span class="TenSix">${val[1].score}</span>
                                                    <span>（${val[1].type}）</span><br>
                                                    <span style="font-weight: bold">当前情况：</span>
                                                    <span>${val[1].state}</span><br>
                                                    <span style="font-weight: bold">专家建议：</span>
                                                    <span>${val[1].advice}</span>
                                                </div>
                                                <div class="containerWrapper" style="display: flex;justify-content:space-around;">
                                                    <div id="containerGaugeTenSix" class="scl-containerGauge"
                                                        style="height: 250%;width: 40%;"></div>
                                                    <div id="containerLineTenSix" class="scl-containerLine"
                                                        style="height: 250%;width: 40%;"></div>
                                                </div>
                                            </div>
                                        </div>`
                                    } else {
                                        sclScale += `<div class="scl-scale" style="page-break-after: always">
                                            <div>
                                                <div style="font-size: 18px">
                                                    <span style="font-weight: bold">${val[0].title}得分：</span>
                                                    <span class="TenFive">${val[0].score}</span>
                                                    <span>（${val[0].type}）</span><br>
                                                    <span style="font-weight: bold">当前情况：</span>
                                                    <span>${val[0].state}</span><br>
                                                    <span style="font-weight: bold">专家建议：</span>
                                                    <span>${val[0].advice}</span>
                                                </div>
                                                <div class="containerWrapper" style="display: flex;justify-content:space-around;">
                                                    <div id="containerGaugeTenFive" class="scl-containerGauge"
                                                        style="height: 250%;width: 40%;"></div>
                                                    <div id="containerLineTenFive" class="scl-containerLine"
                                                        style="height: 250%;width: 40%;"></div>
                                                </div>
                                            </div>
                                        </div>`
                                    }
                                })
                                sclTitle = `<div class="info" style="font-size: 22px">
                                        <span style="font-weight: bold">90项症状清单SCL-90：</span>
                                    </div>`
                                $('.details-container').append(sclScale)
                                $('.scl-scale:first').prepend(sclTitle)

                                // scl量表折线图
                                $.each(document.getElementsByClassName('scl-containerLine'), function (index, val) {
                                    var myChartLine = echarts.init(val);
                                    var option = {
                                        color: ['#00C5CD'],
                                        xAxis: {
                                            type: 'category',
                                            data: data.message
                                        },
                                        yAxis: [
                                            {
                                                type: 'value'
                                            },
                                            {
                                                type: 'value'
                                            }
                                        ],
                                        series: [
                                            {
                                                data: data.content[index].list,
                                                type: 'line',
                                                color: ['#333'],
                                                smooth: true
                                            }, {
                                                data: data.content[index].list,
                                                type: 'bar',
                                                color: ['#00C5CD'],
                                                smooth: true
                                            }
                                        ]
                                    };
                                    myChartLine.setOption(option);
                                })

                                // scl量表圆形图
                                data.content.map(val => {
                                    val.gauge = val.gauge.map((item, idx) => [item, val.color[idx]])
                                })
                                $.each(document.getElementsByClassName('scl-containerGauge'), function (index, val) {
                                    var myChartGauge = echarts.init(val);
                                    var option = {
                                        tooltip: {
                                            formatter: "{a} <br/>{b} : {c}%"
                                        },
                                        toolbox: {},
                                        series: [
                                            {
                                                min: data.content[index].min,
                                                max: data.content[index].max,
                                                type: 'gauge',
                                                detail: {formatter: '{value}'},
                                                data: [{value: data.content[index].score}],
                                                axisLine: {
                                                    show: true,
                                                    lineStyle: {
                                                        color: data.content[index].gauge,
                                                        width: 15
                                                    }
                                                },
                                                axisTick: {
                                                    length: 16,
                                                    lineStyle: {
                                                        color: 'auto'
                                                    }
                                                },
                                                splitLine: {
                                                    length: 17,
                                                    lineStyle: {
                                                        color: 'auto'
                                                    }
                                                },
                                            }
                                        ]
                                    };
                                    myChartGauge.setOption(option, true);
                                })
                            }

                            //雷达图
                            var commonScore = [];
                            for (var i = 0, len = data.data.length; i < len; i += 1) {
                                commonScore.push(+data.data[i].score);
                            }
                            var common = [];
                            for (var i = 0, len = data.data.length; i < len; i += 1) {
                                var object = {};
                                object.text = data.data[i].title;
                                object.min = data.data[i].min;
                                object.max = data.data[i].max;
                                common.push(object);
                            }
                            console.log(common);
                            var totalScore = [38,10,4,4,6,8,52,0.5];
                            var normalScore = [];

                            for (var i = 1, len = data.questionnaireId.length; i < len; i += 1) {
                                normalScore.push(totalScore[data.questionnaireId[i]-2]);
                            }
                            console.log(normalScore)
                            var dom = document.getElementById("containerRadarOne");
                            var myChartRadarOne = echarts.init(dom);
                            var option = {
                                tooltip: {
                                    trigger: 'axis'
                                },
                                legend: {
                                    x: 'center',
                                    y: '85%',
                                    data: [
                                        {
                                            name: '正常得分范围',
                                            icon: 'image://https://img2.ciurl.cn/flashsale/upload/xinfotek_upload/2018/11/26/1543221315661783.png'
                                        },
                                        {
                                            name: '您的得分范围',
                                            icon: 'image://https://img2.ciurl.cn/flashsale/upload/xinfotek_upload/2018/11/26/1543221340707847.png'
                                        }]
                                },
                                radar: [
                                    {
                                        indicator: common,
                                        radius: 80,
                                        center: ['50%', '60%'],
                                    },
                                ],
                                series: [
                                    {
                                        type: 'radar',
                                        data: [
                                            {
                                                lineStyle: {
                                                    normal: {
                                                        color: "#820014",
                                                        type: 'dotted'
                                                    }
                                                },
                                                value: normalScore,
                                                name: '正常得分范围'
                                            },
                                            {
                                                itemStyle: {
                                                    normal: {
                                                        color: '#820014',
                                                        lineStyle: {
                                                            color: '#820014',
                                                        },
                                                    },
                                                },
                                                value: commonScore,
                                                name: '您的得分范围'
                                            }
                                        ]
                                    },
                                ]
                            };
                            myChartRadarOne.setOption(option);

                            if (data.content.length !== 0) {
                                var sclScore = [];
                                for (var i = 0, len = data.content.length; i < len; i += 1) {
                                    sclScore.push(+data.content[i].score);
                                }
                                var dom2 = document.getElementById("containerRadarTwo");
                                var myChartRadarTwo = echarts.init(dom2);
                                var option2 = {
                                    tooltip: {
                                        trigger: 'axis'
                                    },
                                    legend: {
                                        x: 'center',
                                        y: '85%',
                                        data: [
                                            {
                                                name: '正常得分范围',
                                                icon: 'image://https://img2.ciurl.cn/flashsale/upload/xinfotek_upload/2018/11/26/1543221315661783.png'
                                            },
                                            {
                                                name: '您的得分范围',
                                                icon: 'image://https://img2.ciurl.cn/flashsale/upload/xinfotek_upload/2018/11/26/1543221340707847.png'
                                            }]
                                    },
                                    radar: [
                                        {
                                            indicator: [
                                                {text: '躯体化', min: 0, max: 5},
                                                {text: '强迫症状', min: 0, max: 5},
                                                {text: '人际关系敏感', min: 0, max: 5},
                                                {text: '抑郁', min: 0, max: 5},
                                                {text: '焦虑', min: 0, max: 5},
                                                {text: '敌对', min: 0, max: 5},
                                                {text: '恐怖', min: 0, max: 5},
                                                {text: '偏执', min: 0, max: 5},
                                                {text: '精神病性', min: 0, max: 5},
                                                {text: '睡眠与饮食', min: 0, max: 5}
                                            ],
                                            radius: 80,
                                            center: ['50%', '60%'],
                                        },
                                    ],
                                    series: [
                                        {
                                            type: 'radar',
                                            data: [
                                                {
                                                    lineStyle: {
                                                        normal: {
                                                            color: "#820014",
                                                            type: 'dotted'
                                                        }
                                                    },
                                                    value: [1.37, 1.62, 1.65, 1.5, 1.39, 1.48, 1.23, 1.43, 1.29, 1.5],
                                                    name: '正常得分范围'
                                                },
                                                {
                                                    itemStyle: {
                                                        normal: {
                                                            color: '#820014',
                                                            lineStyle: {
                                                                color: '#820014',
                                                            },
                                                        },
                                                    },
                                                    value: sclScore,
                                                    name: '您的得分范围'
                                                }
                                            ]
                                        },
                                    ]
                                };
                                myChartRadarTwo.setOption(option2);
                            }
                            var resultTitle = [];
                            var resultScl = [];
                            var resultContent = '';
                            let conclusion = '';
                            let commonCount = 0;
                            let sclCount = 0;
                            let stage = '';
                            for (var i = 0, len = data.data.length; i < len; i += 1) {
                                if (+data.data[i].flag === 1) {
                                    resultTitle.push(data.data[i].title);
                                    commonCount = commonCount + 1;
                                }
                            }
                            for (var i = 0, len = data.content.length; i < len; i += 1) {
                                if (+data.content[i].flag === 1) {
                                    resultScl.push(data.content[i].title);
                                    sclCount = sclCount + 1;
                                }
                            }
                            stage = data.message.join('/');
                            for(var i in resultScl){
                                resultTitle.push(resultScl[i]);
                            }
                            resultContent = resultTitle.join('/');
                            if (commonCount === 0 && sclCount === 0) {
                                conclusion += `<p>1.经过本次(${stage})综合评估，您的心身状况处在正常范围内。</p>
                                                <p> 2.如未来感觉心理状况不适，可使用程序中学习功能进行“正念”心理课程的练习达到舒缓和调节心理状况的效果，如无法改善或趋于严重则建议及时前往孕产妇心理保健门诊进行进一步咨询。</p>`;
                            }else{
                                conclusion += `<p>1.经过本次(${stage})综合评估，您的心身状况在以下几个方面存在异常(${resultContent})</p>
                                                <p> 2.根据以上分析，请您与医护人员联系并建议您前往孕产妇心理保健门诊进行进一步咨询。</p>`;
                            }
                            $('.conclusion').append(conclusion)
                        }
                    },
                })
            });
        </script>
        <script>
            function startTime() {
                var today = new Date();
                var y = today.getFullYear();
                var m = today.getMonth();
                var d = today.getDate();
                var h = today.getHours();
                var min = today.getMinutes();
                var s = today.getSeconds();
                if (h < 10) {
                    h = "0" + h;
                }
                if (min < 10) {
                    min = "0" + min;
                }
                if (s < 10) {
                    s = "0" + s;
                }
                document.getElementById('txt').innerHTML = y + "-" + (m + 1) + "-" + d + " " + h + ":" + min + ":" + s;
                t = setTimeout(function () {
                    startTime()
                }, 500);
            }
        </script>
    </div>
</div>
</div>
{include file="common/javascript" /}
</body>
</html>