{include file="seu/css" /}
<body>
<div class="container-scroller">
    {include file="seu/navheader" /}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {include file="seu/navleft" /}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one"
                 style="background: url('http://disk.epihealth.cn/o_1d6a7l36nufb1dk41q019aak7oa.jpg');background-size: cover;">
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            {include file="seu/footer" /}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- Modal -->
<!-- plugins:js -->
<script src="/static/vendors/js/vendor.bundle.base.js"></script>
<script src="/static/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>