<style>
    .active{
        color: #308ee0;
    }
</style>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="http://disk.epihealth.cn/o_1d6cekrjvm8c1rhg1dgb1u3qvbdc.jpg"
                             alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p id="oldDocName" class="profile-name">管理员</p>
                        <div>
                            <small id="oldDocLevel" class="designation text-muted">在线</small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success btn-block">
                    <a href="http://www.seu.edu.cn/"></a>
                    <i class="mdi mdi-plus"></i>
                </button>
            </div>
        </li>
        <li class="nav-item left-nav">
            <a class="nav-link" href="{:url('index/index')}">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">主页</span>
            </a>
        </li>
        <li class="nav-item left-nav" id="user-left">
            <a class="nav-link" href="{:url('user/index')}">
                <i class="menu-icon mdi mdi-account-multiple"></i>
                <span class="menu-title">用户列表</span>
            </a>
        </li>
    </ul>
</nav>
<script>
    let url = window.location.href.split('/')[window.location.href.split('/').length - 2] + '/' + window.location.href.split('/')[window.location.href.split('/').length - 1]
    $('.left-nav').each(function (i, n) {
        var current = $($('.left-nav')[i].children[0]).attr('href').split('/')[$($('.left-nav')[i].children[0]).attr('href').split('/').length - 2] + '/' + $($('.left-nav')[i].children[0]).attr('href').split('/')[$($('.left-nav')[i].children[0]).attr('href').split('/').length - 1]
        if (current === url) {
            $($('.left-nav')[i]).addClass('active')
        }
    })
</script>